---
name: Java CI

on: [push]

jobs:
  CRaC5:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          java-package: jdk+crac
          architecture: x64

      - uses: actions/checkout@v3
      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
      - name: Build with Gradle
        run: ./gradlew build

      - name: Upload jar
        run: mkdir staging && cp build/libs/crac5-21.0.0.jar staging
      - uses: actions/upload-artifact@v4
        with:
          name: Package
          path: staging

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag crac5

      - name: Run Docker container
        run: docker run -t --rm --name crac5 crac5 /bin/bash -c 'java -XX:CRaCEngine=warp -XX:CRaCCheckpointTo=/opt/crac-files -jar /opt/app/crac5-21.0.0.jar'

      #- name: Publish to docker hub
      #  uses: docker/build-push-action@v1
      #  with:
      #    username: ${{ secrets.DOCKER_HUB_USERNAME }}
      #    password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      #    repository: hansolo/crac5
      #    tags: ${{github.run_number}}
      #    tags: latest

...